#my_canvas { 
    border: solid 3px;
    width: 200px;
    height: 200px;
   color: blue;
   font-size: 2em;
}

horisontal {
 color: red;
 font-weight:bold;
}

vertikal {
  color: purple;
  font-weight:bold;
}
